/* 
.btn-disable{
    button:disabled
}
.btn-enable{
    background-color: blue;
} */

.text-change{
    text-decoration: line-through;
}

.inline{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
}
.text_decoration{
    text-decoration: line-through;
}

.btn-style{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_style{
    text-justify: auto;
    font-size: 22px;
}