<!-- <div>
    <input #taskName placeholder="Task Name"/>
    <button (click) = "addTask(taskName.value); taskName.value=''">Add Task</button>
</div> -->

<div class="container-fluid">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 btn-style">
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" (click) = "setModal('addTask',null)">Add New Task</button> -->
            <button class="btn btn-primary " routerLink = "/addTask">Add New Task</button>
          </div>
        <div class="col-md-4"></div>
        
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div *ngIf="tasks">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let task of tasks">
                        <div ><span class="badge badge-dark">{{task.id}}</span> <p class="inline" [ngClass]="{'text_decoration':task.complete, 'text_style':true}">{{task.name}}</p>
                            <button class="btn btn-success inline" [disabled] = task.complete (click) = "onCompleted(task)">Mark Complete</button>
                            <button class="btn btn-success inline" [disabled] = task.complete routerLink = "/updateTask/{{task.id}}">Edit Complete</button>
                            <!-- <button type="button" class="btn btn-warning inline" [disabled] = task.complete data-toggle="modal" data-target="#exampleModalCenter"  (click) = "setModal('editTask',task)">Edit Task</button> -->
                            <button class="btn btn-danger inline" (click) = "delTask(task.id)">Delete Task</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2"></div>
        
    </div>
  <!-- <app-modal [modalTitle] = "modalTitle" [modalButtonName] = "modalButtonName" [taskValue] ="taskValue" [selectedTask] = "selectedTask"></app-modal> -->
  
  <!-- Modal
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">{{modalTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <input #taskName type="text" class="form-control" placeholder="Task Name" value={{taskValue}}>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click) = "savetask(taskName.value); taskName.value=''">{{modalButtonName}}</button>
        </div>
      </div>
    </div>
  </div> -->
</div>