<div class="container-fluid">

  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"><h1>{{title}}</h1></div>
      <div class="col-md-4"></div>
  </div>
</div>
  <router-outlet></router-outlet>