<div class="container-fluid">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <app-input-field [btn_name] ="btn_name" [taskValue] ="taskValue" (taskName)="savetask($event)"></app-input-field>
        </div>
        <div class="col-md-4"></div>
        
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button class="btn btn-dark" (click) = "goBack()">Back</button>
        </div>
        <div class="col-md-4"></div>
        
    </div>
</div>