<div class="input-group mb-3">
    <input #taskName type="text" class="form-control" placeholder="Task Name" value={{taskValue}}>
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click) = "sendTaskNameToParent(taskName.value); taskName.value=''" type="button">{{btn_name}}</button>
    </div>
</div>